footer {
  width: 100%;
  position: relative;
  bottom: 16vw;
  background: $footerColor;
  ul {
    list-style: none;
    padding: 10vw;
  }
  i {
    font-size: 5vw;
  }
  .fa-envelope {
    &::after {
      @include socialStyle();
      content: "Lorem.Ipsum@gmail.com";
    }
  }
  .fa-instagram {
    &::after {
      @include socialStyle();
      content: "@LoremIpsum";
    }
  }
}
